API_ID = "27419615"
API_HASH = "2f4b181296f0a2615a85471a1c72df44" # Get it by creating an app on https://my.telegram.org
BOT_TOKEN = "8093607260:AAFmfa2wYHXM7z3UkAIz7eb2h7n1XZa0vPg" # Get it by creating a bot on https://t.me/BotFather
SUDO_USERS = "1534632634 6657660775" # List of sudo user's id, separated by space.
DOWNLOAD_DIR = "-1002124366812" # Download directory where to download files. Must ends with forward slash > / <
